<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @presentation.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @presentation.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @presentation.time %>
</p>

<p>
  <strong>Event:</strong>
  <%= @presentation.event %>
</p>

<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
