<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @credit_card.number %>
</p>

<p>
  <strong>Sec code:</strong>
  <%= @credit_card.sec_code %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @credit_card.due_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @credit_card.user %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
