<!DOCTYPE html>
<html>
  <head>
    <title>Bilheteriadigital</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Sublime project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "styles/bootstrap4/bootstrap.min.css" %>
  <%= stylesheet_link_tag "plugins/font-awesome-4.7.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "plugins/OwlCarousel2-2.2.1/owl.carousel.css" %>
  <%= stylesheet_link_tag "plugins/OwlCarousel2-2.2.1/owl.theme.default.css" %>
  <%= stylesheet_link_tag "plugins/OwlCarousel2-2.2.1/animate.css" %>
  <%= stylesheet_link_tag "styles/main_styles.css" %>
  <%= stylesheet_link_tag "styles/responsive.css" %>


  <%# Categories %>
  <%= stylesheet_link_tag "styles/categories.css" %>
  <%= stylesheet_link_tag "styles/categories_responsive.css" %>


  <body>
      <%= yield %>

      <%= javascript_include_tag "js/jquery-3.2.1.min.js" %>
      <%= javascript_include_tag "styles/bootstrap4/popper.js" %>
      <%= javascript_include_tag "styles/bootstrap4/bootstrap.min.js" %>
      <%= javascript_include_tag "plugins/greensock/TweenMax.min.js" %>
      <%= javascript_include_tag "plugins/greensock/TimelineMax.min.js" %>
      <%= javascript_include_tag "plugins/scrollmagic/ScrollMagic.min.js" %>
      <%= javascript_include_tag "plugins/greensock/animation.gsap.min.js" %>
      <%= javascript_include_tag "plugins/greensock/ScrollToPlugin.min.js" %>
      <%= javascript_include_tag "plugins/OwlCarousel2-2.2.1/owl.carousel.js" %>
      <%= javascript_include_tag "plugins/Isotope/isotope.pkgd.min.js" %>
      <%= javascript_include_tag "plugins/easing/easing.js" %>
      <%= javascript_include_tag "plugins/parallax-js-master/parallax.min.js" %>
      <%= javascript_include_tag "js/custom.js" %>
  </body>
</html>
